@media (max-width: 1350px) {

    .forma__name {
        font-size: 13px;
    }

    .forma-text {
        font-size: 13px;
    }

    .forma__button1 {
        padding: 1px 20px;
        font-size: 13px;
    }

    .forma__button {
        width: 250px;
        font-size: 13px;
    }
}

@media (max-width: 1150px) {

    .nav__item-main:not(:last-child) {
        margin-right: 55px;
    }

    .we__title1 {
        font-size: 120px;
    }

    .we__title2 {
        font-size: 120px;
    }

    .we__title3 {
        font-size: 120px;
    }

    .we__descr {
        font-size: 110px;
    }
    
    .invite__descr {
        width: 76%;
    }

    .color-1 {
        width: 80px;
        height: 80px;
    }

    .color-2 {
        width: 80px;
        height: 80px;
    }

    .color-3 {
        width: 80px;
        height: 80px;
    }

    .color-4 {
        width: 80px;
        height: 80px;
    }

    .about__descr {
        padding: 0 40px;
    }

    .about__title {
        font-size: 56px;
    }

    .accordion__title {
        font-size: 46px;
    }

    .accordion__when {
        width: 900px;
    }

    .accordion__where {
        width: 900px;
    }

    .accordion__map {
        width: 890px; 
      }

      .accordion__how {
        width: 900px;
    }

    .forma__name {
        font-size: 10px;
    }

    .forma-text {
        font-size: 10px;
    }

    .forma__button1 {
        font-size: 10px;
    }

    .forma__button {
        width: 150px;
        font-size: 10px;
        padding: 1px 1px;
    }

    .video {
        width: 650px;
    height: 435px;
      } 

      .forma__forma {
        width: 48%;
    }

    .POD {
        width: 50%;
    }
}

@media (max-width: 990px) {
    .nav__link-main {
        font-size: 12px;
    }

    .we__title1 {
        font-size: 100px;
    }

    .we__title2 {
        font-size: 100px;
    }

    .we__title3 {
        font-size: 100px;
    }

    .we__descr {
        font-size: 100px;
    }

    .invite__title {
        font-size: 20px;
    }

    .invite__descr {
        font-size: 15px;
    }

    .dress-cod__text {
        font-size: 15px;
    }

    .color-1 {
        width: 75px;
        height: 75px;
    }

    .color-2 {
        width: 75px;
        height: 75px;
    }

    .color-3 {
        width: 75px;
        height: 75px;
    }

    .color-4 {
        width: 75px;
        height: 75px;
    }

    .about__title {
        font-size: 46px;
    }

    .about__descr {
        padding: 0 25px;
    }
    
    .accordion__title {
        font-size: 36px;
    }

    .when-title {
        font-size: 20px;
    }

    .how-title {
        font-size: 20px;
    }

    .how__descr {
        font-size: 20px;
    }

    .how__descr1 {
        font-size: 12px;
    }

    .accordion__when {
        width: 750px;
    }

    .accordion__where {
        width: 750px;
    }

    .accordion__map {
        width: 750px;
    }

    .accordion__how {
        width: 750px;
        height: 630px;
    }

    .how__container1 {
        padding-left: 10%;
    }
}

@media (max-width: 850px) {
    .nav__item-main:not(:last-child) {
        margin-right: 35px;
    }

    .invite__descr {
        width: 86%;
    }

    .about__descr {
        font-size: 15px;
    }

    .color-1 {
        width: 65px;
        height: 65px;
    }

    .color-2 {
        width: 65px;
        height: 65px;
    }

    .color-3 {
        width: 65px;
        height: 65px;
    }

    .color-4 {
        width: 65px;
        height: 65px;
    }

    .video {
        width: 500px;
        height: 335px;
    }

    .accordion__when {
        width: 650px;
    }

    .accordion__where {
        width: 650px;
    }

    .accordion__map {
        width: 650px;
    }

    .accordion__how {
        width: 650px;
    }

    .forma__button1 {
        font-size: 9px;
        padding: 1px 10px;
    }

    .forma__name {
        font-size: 9px;
    }

    .forma-text {
        font-size: 9px;
    }

    .forma__button {
        font-size: 9px;
    }
}

@media (max-width: 770px) {
    .nav__item-main:not(:last-child) {
        margin-right: 25px;
    }

    .nav__link-main {
        font-size: 10px;
    }

    .we__title1 {
        font-size: 85px;
    }

    .we__title2 {
        font-size: 85px;
    }

    .we__title3 {
        font-size: 85px;
    }

    .we__descr {
        font-size: 85px;
        top: 490px;
    }

    .img {
        max-height: 620px;
        margin-bottom: 40px;
    }

    .about__descr {
        font-size: 14px;
        padding: 0 85px;
    }

    .video {
        width: 450px;
        height: 310px;
    }

    .accordion__title {
        font-size: 28px;
    }

    .forma__name {
        height: 30px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .forma-text {
        height: 30px;
        padding-top: 5px;
    }

    .forma__button {
        height: 30px;
    }

    .forma__button1 {
        height: 30px;
    }
}

@media (max-width: 700px) {
    .nav__link-main {
        font-size: 8px;
    }

    .we__title1 {
        font-size: 65px;
        margin-right: 30px;
    }

    .we__title2 {
        font-size: 65px;
        margin-right: 30px;
    }

    .we__title3 {
        font-size: 65px;
    }

    .we__descr {
        font-size: 65px;
        top: 430px;
    }

    .img {
        max-height: 520px;
    }

    .invite__title {
        font-size: 15px;
    }

    .invite__descr {
        font-size: 11px;
        width: 76%;
    }

    .dress-cod__text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .color-1 {
        width: 50px;
        height: 50px;
    }

    .color-2 {
        width: 50px;
        height: 50px;
    }

    .color-3 {
        width: 50px;
        height: 50px;
    }

    .color-4 {
        width: 50px;
        height: 50px;
    }

    .dress-cod {
        margin-bottom: 10px;
    }

    .about__title {
        font-size: 36px;
    }

    .about__descr {
        font-size: 11px;
        padding: 0 35px;
    }

    .video {
        width: 350px;
        height: 240px;
    }

    .accordion__title {
        font-size: 25px;
    }

    .about {
        margin-bottom: 30px;
    }

    .accordion__when {
        width: 500px;
    }

    .when-title {
        font-size: 15px;
    }

    .when-img1 {
        width: 100px;
        height: 100px;
    }

    .when-img2 {
        width: 100px;
        height: 100px;
    }

    .when__descr {
        font-size: 13px;
    }

    .accordion__where {
        width: 500px;
        height: 390px;
    }

    .accordion__map {
        width: 500px;
        height: 250px;
    }

    .how-title {
        font-size: 15px;
    }

    .accordion__how {
        width: 500px;
        height: 590px;
    }

    .how__descr {
        font-size: 14px;
    }

    .how__descr1 {
        font-size: 10px;
    }

    .how__number {
        font-size: 30px;
        margin-right: 50px
    }

    .how__container1 {
        padding-left: 7%;
    }

    .how__border {
        border-left: 1px solid blueviolet;
        width: 50px;
        height: 60px;
    }

    .forma__name {
        margin-bottom: 8px;
        padding-left: 10px;
        font-size: 8px;
    }

    .forma-text {
        font-size: 8px;
        padding-left: 10px;
        margin-bottom: 8px;
    }

    .forma__img {
        min-height: 100px;
    }

    .forma__button1 {
        height: 25px;
        font-size: 8px;
    padding: 1px 5px;
    }
}

@media (max-width: 605px) {
    .forma__name {
        margin-bottom: 8px;
        padding-left: 9px;
        font-size: 6px;
    }

    .forma-text {
        font-size: 6px;
        padding-left: 9px;
        margin-bottom: 8px;
    }

    .forma__button {
        font-size: 7px;
    }

    .forma__button1 {
        height: 25px;
        font-size: 7px;
        padding: 1px 5px;
    }
}

@media (max-width: 575px) {
    .nav__item-main:not(:last-child) {
        margin-right: 17px;
    }

    .nav__link-main {
        font-size: 7px;
    }

    .we__title1 {
        font-size: 55px;
        margin-right: 25px;
    }

    .we__title2 {
        font-size: 55px;
        margin-right: 25px;
    }

    .we__title3 {
        font-size: 55px;
    }

    .we__text {
        padding: 0px 0 102px 76px;
    }

    .img {
        max-height: 420px;
        margin-bottom: 30px
    }

    .we__descr {
        font-size: 55px;
        top: 330px;
    }

    .invite__title {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .invite__descr {
        font-size: 9px;
        width: 76%;
    }

    .dress-cod__text {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .color-1 {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .color-2 {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .color-3 {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .color-4 {
        width: 40px;
        height: 40px;
    }

    .about__title {
        font-size: 30px;
    }

    .about__descr {
        font-size: 9px;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .video {
        width: 250px;
        height: 170px;
    }

    .accordion__title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .accordion__when {
        width: 400px;
        height: 130px;
    }

    .when-title {
        font-size: 12px;
        padding-top: 30px;
    }

    .when-img1 {
        width: 80px;
        height: 80px;
    }

    .when-img2 {
        width: 80px;
        height: 80px;
    }

    .when__descr {
        font-size: 12px;
    }

    .accordion__where {
        width: 400px;
        height: 300px;
    }

    .accordion__map {
        width: 400px;
        height: 190px;
    }

    .how-title {
        font-size: 12px;
        padding-top: 30px;
    }

    .accordion__how {
        width: 400px;
        height: 540px;
        margin-bottom: 10px;
    }

    .how__number {
        font-size: 25px;
        margin-right: 30px;
    }

    .how__descr {
        font-size: 12px;
    }

    .how__descr1 {
        font-size: 8px;
    }

    .how__border {
        border-left: 1px solid blueviolet;
        width: 30px;
        height: 55px;
    }

    .forma__button {
        height: 25px;
        width: 80px;
        font-size: 6px;
        line-height: 0;
}

.forma__img {
    min-height: 80px;
}

.forma__button1 {
    height: 25px;
    font-size: 6px;
    padding: 1px 5px;
}
}

@media (max-width: 508px) {
    .nav__link-main {
        font-size: 6px;
    }

    .nav__item-main:not(:last-child) {
        margin-right: 14px;
    }

    .about__descr {
        padding: 0 10px;
    }

    .accordion__title {
        font-size: 17px;
    }

    .forma__name {
        font-size: 5px;
    }

    .forma-text {
        font-size: 5px;
    }
}

@media (max-width: 462px) {

    .container {
        max-width: 1790px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .we__title1 {
        font-size: 45px;
        margin-right: 15px;
    }

    .we__title2 {
        font-size: 45px;
        margin-right: 15px;
    }

    .we__title3 {
        font-size: 45px;
    }

    .we__descr {
        font-size: 45px;
    }

    .img {
        max-height: 380px;
    }

    .invite__title {
        font-size: 11px;
        margin-bottom: 15px;
    }

    .invite__descr {
        font-size: 8px;
        width: 78%;
        margin-bottom: 30px;
    }

    .dress-cod__text {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .about__title {
        font-size: 25px;
    }

    .about__descr {
        font-size: 8px;
    }

    .video {
        width: 280px;
        height: 190px;
    }

    .accordion__when {
        width: 300px;
        margin-bottom: 20px;
    }

    .accordion__where {
        width: 300px;
        height: 250px;
    }

    .accordion__map {
        width: 300px;
        height: 130px;
    }

    .when__descr {
        font-size: 9px;
    }

    .accordion__how {
        width: 300px;
    }

    .how__number {
        font-size: 20px;
        margin-right: 2px;
    }

    .how__border {
        border-left: 1px solid blueviolet;
        width: 20px;
        height: 50px;
    }

    .how__descr {
        font-size: 10px;
    }

    .how__descr1 {
        font-size: 6px;
    }
}

@media (max-width: 386px) {
    .we__title1 {
        font-size: 35px;
        margin-right: 10px;
    }

    .we__title2 {
        font-size: 35px;
        margin-right: 10px;
    }

    .we__title3 {
        font-size: 35px;
        top: 230px;
    }

    .we__descr {
        font-size: 39px;
        top: 230px;
    }

    .img {
        max-height: 290px;
    }

    .dress-cod__text {
        font-size: 8px;
        margin-bottom: 18px;
    }

    .video {
        width: 260px;
        height: 175px;
    }

    .forma__name {
        padding-left: 5px;
    }

    .forma-text {
        padding-left: 5px;
    }
}

@media (max-width: 371px) {

    .container {
        max-width: 1790px;
        padding: 0 20px;
        margin: 0 auto;
    }
    
    .nav__link-main {
        font-size: 5px;
    }

    .nav__item-main:not(:last-child) {
        margin-right: 10px;
    }

    .accordion__title {
        font-size: 15px;
    }

    .forma__button1 {
        font-size: 5px;
    }

    .forma-text {
        font-size: 4px;
    }

    .forma__name {
        font-size: 4px;
    }
}