html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff5f6;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bthn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1790px;
  padding: 0 10px;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comforter";
  src: local("Comforter-Regular"), url("../fonts/Comforter-Regular.woff2") format("woff2"),
    url("../fonts/Comforter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTPollsScript";
  src: local("TTPollsScript-Light"), url("../fonts/TTPollsScript-Light.woff2") format("woff2"),
    url("../fonts/TTPollsScript-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


.img {
  background-image: url(../img/we-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2000px;
}


/*header*/
.header {
  width: 100%;
}

.header__container {
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 50px;
}

.nav__item-main:not(:last-child) {
  margin-right: 85px;
}

.nav__link-main {
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-color: transparent;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav__link-main:hover {
  color: gray;
  border-bottom: 1px solid #000000;
}

/* we */

.we {
  max-width: 1790px;
  padding: 0 90px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.we__container {
  display: flex;
  flex-direction: row-reverse;
  height: 670px;
}

.we__text {
  display: flex;
  padding: 20px 0 102px 76px;
  width: 100%;
  justify-content: center;
}

.we__title {
  font-family: 'Comforter';
  margin: 0;
  padding: 0;
  color: wheat;
}

.we__title1 {
  font-size: 150px;
  margin-right: 50px;
}

.we__title2 {
  font-size: 150px;
  margin-right: 50px;
}

.we__title3 {
  font-size: 150px;
}

.we__descr {
  position: absolute;
  font-family: 'Comforter';
  margin: 0;
  padding: 0;
  color: wheat;
  font-size: 150px;
  top: 550px;
}

/*invite*/
.invite__container {
    max-width: 1790px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invite__title {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 30px;
}

.invite__descr {
  margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 135%;
    color: #616161;
    width: 60%;
    margin-bottom: 40px;
}

/*dress-cod*/

.dress-cod {
  margin-bottom: 50px;
}

.dress-cod__text {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 50px;
}

.dress-cod__colors {
  display: flex;
  justify-content: center;
}

.color-1 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  margin-right: 40px;
}

.color-2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: green;
  margin-right: 40px;
}

.color-3 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
  margin-right: 40px;
}

.color-4 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: blue;
}

/*about*/

.about__title {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'TTPollsScript';
  font-weight: 300;
  font-size: 66px;
  line-height: 145%;
  justify-content: center;
}

.about__container {
  max-width: 1790px;
  padding: 0 50px;
  margin: 0 auto;
}

.about__container2 {
  background-color: white;

}

.about__descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 135%;
  color: #616161;
  max-width: 1790px;
  padding: 0 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about__video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  margin-bottom: 70px;
}

/*accordion*/

.accordion__contant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__title {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'TTPollsScript';
  font-weight: 300;
  font-size: 56px;
  line-height: 145%;
  justify-content: center;
  margin-bottom: 30px;
}

.accordion__when {
  width: 70%;
  min-height: 160px;
  /* border: 0.5px solid #ff6781; */
  background-color: white;
  justify-content: center;
  margin-bottom: 40px;
}

.when-title {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  justify-content: center;
  padding-top: 50px;
  margin-right: 10px;
}

.when-img1 {
  background-image: url(../img/12.png);
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  margin-right: 10px;
}

.when-img2 {
  background-image: url(../img/12.png);
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}

.when__title-content {
  display: flex;
  justify-content: center;
}

.when__descr {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 145%;
  justify-content: center;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.accordion__where {
  width: 70%;
  min-height: 460px;
  /* border: 0.5px solid red; */
  background-color: white;
  justify-content: center;
  margin-bottom: 40px;
}

.accordion__map {
  width: 100%; 
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.accordion__how {
  width: 70%;
  min-height: 690px;
  /* border: 0.5px solid #ff6781; */
  background-color: white;
  justify-content: center;
  margin-bottom: 40px;
}

.how-title {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  justify-content: center;
  padding-top: 50px;
}

.how__container1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  margin-bottom: 40px;
}

.how__number {
  margin: 0;
  font-family: 'Comforter';
  font-weight: 300;
  font-size: 36px;
  line-height: 145%;
  color: blueviolet;
  margin-right: 120px;
  width: 80px;
}

.how__border {
  border-left: 1px solid blueviolet;
  width: 100px;
  height: 60px;
}

.how__descr {
  margin: 0;
  font-weight: 300;
  font-size: 25px;
  line-height: 145%;
  color: #350d40;
}

.how__descr1 {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 145%;
  color: #d183e7;
}

.how__content {
  display: flex;
  flex-direction: column;
}

/*forma*/

.forma__label {
  display: flex;
  flex-direction: column;
}
.forma__name {
  height: 40px;
  width: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ff6781;
  outline: none;
  transition: outline 0.3s ease-in-out;
}

.forma__name:focus {
  outline: none;
  outline: 2px solid red;
}

.POD {
  display: flex;
  width: 40%;
  align-items: center;
}

.forma-text {
  height: 40px;
  width: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ff6781;
  padding-left: 20px;
  padding-top: 10px;
  outline: none;
  transition: outline 0.3s ease-in-out;
}

.forma-text:focus {
  outline: none;
  outline: 2px solid red;
}

.forma__button {
  cursor: pointer;
  width: 300px;
  height: 40px;
  background: #ff6781;
  border: 1px solid #ff6781;
  border-radius: 10px;
  padding: 1px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.forma__button:hover {
  color: #000000;
  font-size: 18px;
}

.forma__button1 {
  cursor: pointer;
  width: 200px;
  height: 40px;
  background: white;
  border: 1px solid #ff6781;
  border-radius: 10px;
  padding: 1px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.forma__button1:hover {
  color: #000000;
  font-size: 18px;
}

.forma__container {
  display: flex;
  justify-content: center;
}

.forma__forma {
  width: 41%;
}

.forma__img {
  min-width: 38%;
  min-height: 230px;
  background-image: url(../img/23.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.forma {
  margin-bottom: 15px;
}

.footer {
  background-image: url(../img/we-5.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

.video {
  width: 890px; 
  height: 590px;
}

.dress-cod__text1 {
  display: none;
}